<h1>Error 404</h1>
<span>This page doesn't exist, try...</span>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">

    <button mat-raised-button color="primary">
        <span routerLink="/auth/login">
            Login
        </span>
    </button>

    <button mat-raised-button color="primary">
        <span routerLink="/auth/register">
            Register
        </span>
    </button>

    <button mat-raised-button color="primary">
        <span routerLink="/planets/list">
            List
        </span>
    </button>
</div>