<mat-card>
    <mat-card-header>
        <mat-card-title>{{ planet.planet }}</mat-card-title>
        <mat-card-subtitle>Habitability: {{ planet.habitability }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="planet | image">

    <mat-card-content>
        <h3>Size: {{planet.size}}</h3>
        <p>
            <strong>First appearence: </strong>{{planet.first_appearance}}
            <br>
            <strong>Habitants: </strong> {{planet.habitants}}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button 
            color="warn"
            [routerLink]="['/planets', planet.id]">
            Read more
        </button>

        <button mat-button 
            color="info"
            [routerLink]="['/planets/edit', planet.id]">
            Edit
        </button>
    </mat-card-actions>
</mat-card>